body{
    display: flex;
    background-color: #CADBEF;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif !important;
}

.card{
    width: 13rem;
    height: 21rem;
    border-radius: 1em;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: relative;
    top: 7rem;
    text-align: center;
}

.card-header{
    display: flex;
    background-color: #027BCE;
    overflow: hidden;
    position: relative;
    height: 12em;
    width: 12em;
    left:0.45em;
    top: 0.5em;
    border: 3px solid #fff;
}

#cube{
    border-radius: 0.5em;
}

.bola{
    background-color: #3685FF;
    border-radius: 90px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -40%;
    top: -45%;
    z-index: 0;

}
#m1{
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}
/*caso não queira animação é só tirar o @keyframe*/
@keyframes move {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateY(10%);
    }
    70%{
        transform: translate(20%);
    }
    80%{
        transform: translate(10%);
    }
    100%{
        transform: translateX(0%);
    }
}

.bola:nth-of-type(2){
    top: 68%;
    left: 50%;
    animation-name: move2;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes move2{
    0%{
        transform: translateX(0%);
    }
    10%{
        transform: translateY(10%);
    }
    30%{
        transform: translateY(-25%);
    }
    60%{
        transform: translateY(-20%);
    }
    70%{
        transform: translateX(-10%);
    }
    90%{
        transform: translateX(-20%);
    }
}


#code{
   z-index: 2;
   width: 6em;
   height: 6em;
   margin-left: 2em;
   margin-top: 2.5em;
}

p{
    font-size:0.65em;
    position: relative;
    top:2em;
    left: 1rem;
    width: 11rem;
    color: #7D889E;
}

#titulo{
    font-size: 0.8em;
    font-weight: 800;
    color: #1F314F;
}

@media (max-width: 600px) {
    .card-header{
        background-color: #3685FF;
    }

    .bola{
        background-color: #2C7DFA;
    }

}



